<footer>
    <div class="container-footer">
        <div class="box-footer">
            <h2>Auroria</h2>
            <div class="terms">
                <p>Hola, soy Auroria, un bot dedicado para dar a conocer tu servidor mediante alianzas, traeré gente nueva a tu servidor aumentando la actividad.</p>
            </div>
        </div>
        <div class="box-footer">
            <h2>Bot</h2>
            <a href="/invite">Invitar al bot</a>
            <a href="/premium">Premium</a>
            <a href="/docs">Términos y condiciones</a>
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="box-footer">
            <h2>Soporte</h2>
            <a href="/docs">Docs</a>
            <a href="https://discord.gg/rBnEfDxPFB">Server de Soporte</a>
            <a href="/cherylcann">Desarrollador</a>
            <a href="/forms">Dejar una reseña</a>
        </div>
        <div class="box-footer">
            <h2>Redes Sociales</h2>
            <a href="/cherylcann"><i class="fa-solid fa-code"></i> Creador</a>
            <a><i class="fa-brands fa-discord"></i> cherylcann#0001</a>
            <a href="https://www.youtube.com/@cherylcann148"><i class="fa-brands fa-youtube"></i> Youtube</a>
            <a href="https://www.instagram.com/cherylcann.idk/"><i class="fa-brands fa-instagram"></i> Instagram</a>
        </div>
    </div>
</footer>