<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <link rel="stylesheet " href="/css/index.css ">

    <%- include ('partials/navegation.html')%>


    <!-- Pagina inicio solo divs terminado -->

    <div class="home-container"> 
      <!-- <div class="home-text-container">
        <div class="home-text">
          <b>
            ¡Mejora tu mejor servidor de una forma más divertida y fácil!
          </b>
          <p><em>Auroria aun esta en desarrollo para que este completo y puedas acceder a todas sus funciones sin fallas
              ni actualizaciones.</em></p>
        </div>
      </div>

      <div class="home-data">
        <div class="data-img">
          <img src="https://i.imgur.com/XC7Z2os.png" alt="Logo">
        </div>
        <div class="data-buttons">
          <div class="button-invitar">
            <a href="https://discord.com/oauth2/authorize?client_id=946662260632330291&scope=bot%20applications.commands&permissions=2146954359"
              class="button-invitar">Añadir a discord</a>
          </div>
          <div class="button-info">
            <a href="/commands" class="button-data">Comandos del Bot</a>
          </div>
        </div>
      </div> -->
    </div>

    <!-- Pagina barra -->

    <div class="barra-negra ">
      <div class="box-barra">
        <!-- <span> -->
        <b>Servidores</b>
        <p>En mas de <code>200</code> Servidores</p>
        <!-- </span> -->
      </div>
      <div class="box-barra">
        <!-- <span> -->
        <b>Canales</b>
        <p>Escuchando <code>5.000</code> Canales</p>
        <!-- </span> -->
      </div>
      <div class="box-barra">
        <!-- <span> -->
        <b>Comandos</b>
        <p>Contamos con <code>52</code> Comandos</p>
        <!-- </span> -->
      </div>
    </div>

    <!-- caracteristicas -->

    <div class="informacion">
      <p class="info-title">
        <b>Características</b>
      </p>
      <div class="info">
        <div class="info-content">
          <div class="info-text">
            <div class="info-text-title">
              <b>Sistema de roles por Interacción</b>
            </div>
            <div class="info-text-desc">
              <em>¡Puedes configurar botones, menús y comandos para obtener determinados roles al interactuar con estos!, personaliza los roles de tu servidor para hacerlo más agradable para el usuario.</em>
            </div>
          </div>
          <div class="info-img">
            <img
              src="https://i.imgur.com/ZdFoXor.png"
              alt="auroria botones"
              class="infoimg">
          </div>
        </div>
      </div>

      <div class="info-2">
        <div class="info-content-2">

          <div class="info-img-2">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6jYHqwEjjfI2KM9ovxKRS3TVfi7NYUHOPUE0WfoBGu6yCvBZ26-EXgAPfJG6xiYxSrI4&usqp=CAU"
              alt="500x500"
              class="infoimg">
          </div>

          <div class="info-text-2">
            <div class="info-text-title">
              <b>Auroria - Desarrollo</b>
            </div>
            <div class="info-text-desc">
              <em>Auroria es un bot que lleva en desarrollo ya varios meses por ahora no cuenta con nada en especial que
                se pueda mostrar a los usuarios :(, pero pronto traeremos sistemas y comandos para volver el bot
                publico.</em>
            </div>
          </div>

        </div>
      </div>

      <div class="info">
        <div class="info-content">
          <div class="info-text">
            <div class="info-text-title">
              <b>Auroria - Desarrollo</b>
            </div>
            <div class="info-text-desc">
              <em>Auroria es un bot que lleva en desarrollo ya varios meses por ahora no cuenta con nada en especial que
                se pueda mostrar a los usuarios :(, pero pronto traeremos sistemas y comandos para volver el bot
                publico.</em>
            </div>
          </div>
          <div class="info-img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6jYHqwEjjfI2KM9ovxKRS3TVfi7NYUHOPUE0WfoBGu6yCvBZ26-EXgAPfJG6xiYxSrI4&usqp=CAU"
              alt="500x500"
              class="infoimg">
          </div>
        </div>
      </div>


    </div>

    <%- include ('partials/footer.html')%>

</body>

</html>